body{
    background-color: rgb(58, 54, 54);
    display: flex;
    
    justify-content: center;
}
.container{
   
    
    padding: 20px;
    display: flex;
    /* width: 80%; */
    position: relative;
}
section{
    transform: translateX(100px);
    width: 600px;
    gap: 5px;
}       
.parent1{
    height: 500px;
    text-align: center;
    display: flex;
    /* padding: 20px; */
    flex-direction: column;
    position: relative;
    transform: translateX(60px)
}
.d1{
    background-color:white;
    height: 80vh;
    width: 500px;
    padding-top: 200px;
}
.p1{
    margin-bottom: 320px;
    margin-top: -10%;
   word-spacing: 5px;
    font-size: large;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
.d2{
    background-color: rgba(165, 42, 42, 0.684);
    width: 80%;
    height: 20vh;
    position: absolute;
    margin-top: 350px;
    transform: translateX(-50px);
    
}

.d3{
   margin-left: 90px;
   margin-top: 170px;
}
.d4{
    background-color: blanchedalmond;
   margin-left: 50px;
    width: 480px;
    height: 400px;
    padding: 10px;
    font-size:x-large ;
     
   }

   #re{
    font-size: 50px;
   }
   
   .reward{
  margin-left: 180px;
  height: 150px;
  width: 100px;
   }

.d6{
    margin-top: 10px;
    color: red;
    font-size: medium;
  
  }
  .footer{
    margin-left: 200px;
    margin-top: -130px;
    
  }
  

.d7{ margin-top: 20px;
    
    }

.d8{
    background-color: rgba(118, 65, 65, 0.684);
    margin-left: 50px;
    padding: 10px;
    height: 450px;
    width: 520px;
    margin-bottom: 20px;
    font-size: large;
    }
.d9{
    padding-right: 20px;
   } 
.parent2{
    background-color: white;
    height: 60vh;
    width: 450px;
    padding: 20px;
    position: relative;
    }
.d10{
    height: 400px;
}
input[type=button] {
    padding: 5px;
    margin-left: 150px;
    width: 100px;
}


.d11{
    background-color: azure;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    word-spacing: 5px;
    padding: 10px;
    width: 450px;
    height: 280px;
    position: absolute;
    left: 80px;

}
/* Tab */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .section1{
        width: 100%;
        
    }
    .parent1{
        margin-left: 80px;
    }
    .d1{
        background-image: url(https://mdbootstrap.com/img/Photos/Others/sidenav2.jpg);

        height: 60vh;
       
    }
    .d2{
       height: 25vh;
        width: 75vh;
       
     
    }
    .d3 img{
        width: 70%;
        margin-left: 60px;
        margin-top: -70px;
    }
    .p1{
        margin-bottom: 320px;
        margin-top: -20%;
       word-spacing: 5px;

    }
    .d4{
        margin-left: 100px;
    }
    .reward {
        
        height: 150px;
        width: 150px;
    }
    
    .d5{
        width: 100%;
        margin-left: 15%;
    }
    .d6 {
        margin-left: 5%;
        position: absolute;
        bottom: -8%; 
        left: 0;
        right: 0;
        width: 100%; 
        text-align: center;
       
    }
    .footer{
        margin-left: 25%;
        font-size: larger;
    }
    .image-footer{
        left:  -150px;
        width: 70%;
        
    }
    .section2 {
        padding-left: 100px;
    }

    input[type=button] {
        width: 20%;
    }
    .d7 img{
        width: 70%;
    }
    .d7{
        width: 800px;
    }
    .d8{
        height: 450px;
        width: 520px;

    }
    
    .d10, .d11 {
        width: 100%;
    }
    .parent2{
        background-image: url(https://static.vecteezy.com/system/resources/previews/006/263/932/large_2x/pastel-multi-color-gradient-background-simple-form-and-blend-of-color-spaces-as-contemporary-background-graphic-free-photo.jpg);
        margin-left: 5%;
        height: 20%;
        position: relative;

    }
    .d11{
        background-image:url(https://img.freepik.com/premium-vector/pastel-multi-color-gradient-backgroundsimple-gradient-vector-form-blend-color-spaces-as-contemporary-background-graphic_1962-2915.jpg);
        font-family: cursive;
        word-spacing: 1px;
        width: 80%; 
        position:absolute; 
        left: 30%;
        margin-top: -80px;

    }
}


/* Mobile*/


@media (min-width: 320px) and (max-width: 480px) {

    .parent1 {
        margin-left: 30%;
        padding-left: 5%;
        width: 100%;
    }

    .d1{
        background-image: url(https://mdbootstrap.com/img/Photos/Others/sidenav2.jpg);
        width: 90%; 
        max-width: 450px; 
    }

    .d2 {
        width: 100%; 
        max-width: 450px;
        transform: translateX(-5%); 
    }

    .p1 {
        font-size: 1rem;
    }

    .d3{
        width: 100%;
        margin-left: 30%;
    }
    .d3 img{
        width: 75%;
    }

    .d4 {
        margin-left: 33%;
    }
    
    #re {
        font-size: 1.2rem;
    }

    .reward {
        height: 100px;
        width: 100px;
    }

    .d5{
        width: 100%;
        margin-left: 35%;
    }

    .d6 {
        margin-left: 5%;
        position: absolute;
        bottom: -8%; 
        left: 0;
        right: 0;
        width: 100%; 
        text-align: center;
       
    }
    .footer{
        margin-left: 50%;
        font-size: larger;
    }
    .image-footer{
        left:  -150px;
        width: 70%;
        
    }

    .d7{
        width: 100%;
        margin-left: 15%;
    }
    
    .d7 img {
        width: 100%;
    }
    
    .d8 {
        background-image: url(https://i.pinimg.com/originals/87/d9/79/87d979dbbba4f7c69f86d9cbf6474466.jpg);
        width: 100%; 
        font-size: 1.4rem;
        margin-left: 20%;
    }
    
    .d9 img {
        width: 100%; 
        margin-left: 15%;
    }
    
    .parent2 {
        background-image: url(https://static.vecteezy.com/system/resources/previews/006/263/932/large_2x/pastel-multi-color-gradient-background-simple-form-and-blend-of-color-spaces-as-contemporary-background-graphic-free-photo.jpg);
        margin-left: 5%;
        height: 20%;
        position: relative;
    }

    .d11 {
        background-image:url(https://img.freepik.com/premium-vector/pastel-multi-color-gradient-backgroundsimple-gradient-vector-form-blend-color-spaces-as-contemporary-background-graphic_1962-2915.jpg);
        font-family: cursive;
        word-spacing: 1px;
        width: 80%; 
        position:absolute; 
        left: 30%;
        margin-top: -80px;
    }
    
    input[type=button] {
        width: 25%; 
    }

}


